@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;500;700&family=Yuji+Syuku&display=swap');

:root {
    --primary-color: #ec1f55;
    --text-color: #333;
    --gradient-primary-color: linear-gradient(to top right, #f77062 0%, #fe5196 100%);
    --gradient-bg-color: linear-gradient(120deg, #fdfbfb 0%, #ebedee 100%);

}

* {
    padding: 0;
    margin: 0;
    box-sizing: inherit;
}

body {
    background-image: linear-gradient(to top, #fbc2eb 0%, #a6c1ee 100%);
}

html {
    box-sizing: border-box;
    font-family: 'Noto Sans JP', sans-serif;
    scroll-behavior: smooth;
}

.player {
    position: relative;
    max-width: 480px;
    margin: 0 auto;
}

.player .icon-pause {
    display: none;
}

.player.playing .icon-pause {
    display: inline-block;
}

.player.playing .icon-play {
    display: none;
}

.dashboard {
    padding: 16px 16px 14px;
    background-image: var(--gradient-bg-color);
    position: fixed;
    top: 0;
    width: 100%;
    max-width: 480px;
    border-bottom: 1px solid #ebebeb;
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.1);
    z-index: 10;
}

.dashboard .up-arrow {
    display: none;
}

.dashboard.active .up-arrow {
    display: inline-block;
}

.dashboard.active .down-arrow {
    display: none
}

.dashboard.active {
    top: unset;
    bottom: 0;
    box-shadow: 0 -2px 4px rgba(0, 0, 0, 0.1);
}

.dashboard.active .btn.btn-add,
.dashboard.active .btn.btn-down {
    top: 6px;
}

.dashboard.active header h4,
.dashboard.active header h2,
.dashboard.active .cd-inner,
.dashboard.active .progress {
    display: none;
}


/* HEADER */
header {
    text-align: center;
    margin-bottom: 10px;
}

header h4 {
    background-image: var(--gradient-primary-color);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 12px;
}

header h2 {
    /* color: var(--text-color); */
    font-family: 'Yuji Syuku', serif;
    font-size: 2rem;
    color: #333;
}

header .btn.btn-down, header .btn.btn-add {
    position: absolute;
    top: 16px;
    left: 16px;
    background-image: var(--gradient-primary-color);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 20px;
    cursor: pointer;
}

header .btn.btn-add {
    left: unset;
    right: 16px;
}


/* CD */
.cd-inner {
    background: url(./Yoasobi/img/soundwave.png) no-repeat center/contain;
    z-index: -1;
    margin-bottom: 10px;
}

.cd-inner.active {
    animation: soundBeats 1.2s infinite;
}

.cd {
    display: flex;
    margin: auto;
    width: 200px;
}

.cd-thumb {
    width: 100%;
    padding-top: 100%;
    border-radius: 50%;
    background-color: #333;
    background-size: cover;
    margin: auto;
    /* border: 1px solid rgba(17, 17, 17, 0.05); */
    box-shadow: rgba(14, 30, 37, 0.1) 0px 2px 4px 0px, rgba(14, 30, 37, 0.3) 0px 2px 16px 0px;
}

/* CONTROL */
.control {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 8px 0 8px 0;
}

.control .btn {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #666;
    width: 1.875rem;
    height: 1.875rem;
    border-radius: 50%;
    font-size: 18px;
    cursor: pointer;
    transition: all .1s ease-in-out;
}

.control .btn:hover {
    background-color: rgba(17, 17, 17, 0.1);

}

.control .btn.active {
    background-image: var(--gradient-primary-color);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.control .btn-toggle-play {
    width: 56px;
    height: 56px;
    border-radius: 50%;
    font-size: 24px;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    /* background-color: var(--primary-color); */
    background-image: var(--gradient-primary-color);
    /* box-shadow: 0px 0px 1px 1px var(--secondary-color), 0px 0px 2px 2px var(--secondary-color); */
}

.control .btn-toggle-play:hover {
    background-image: var(--gradient-primary-color);

}

.progress {
    position: relative;
    width: 100%;
    -webkit-appearance: none;
    height: 6px;
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: 0.2s;
    transition: opacity 0.2s;
    cursor: pointer;
}

/* .progress::before {
    content: '';
    position: absolute;
    height: 6px;
    width: 100%;
    top: 0;
    left: 0;
    background: url(./Yoasobi/img/soundwave.png) no-repeat center/cover;
    overflow: hidden;
    z-index: -1;
} */

.progress::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background-image: var(--gradient-primary-color);
    cursor: pointer;
}

/* PLAYLIST */
.playlist {
    margin-top: 408px;
    padding: 12px;
}

.song {
    display: flex;
    align-items: center;
    margin-bottom: 12px;
    background-image: var(--gradient-bg-color);
    padding: 8px 16px;
    border-radius: 5px;
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.1);
    cursor: pointer;
}

.song .spectrum div {
    display: none;
}

.song.active {
    position: relative;
    background-image: var(--gradient-primary-color);
}

.song.active .spectrum div {
    display: block;
}

.song:active {
    opacity: 0.8;
}

.song.active .option,
.song.active .author,
.song.active .title {
    color: #fff;
}

.song .thumb {
    width: 44px;
    height: 44px;
    border-radius: 50%;
    background-size: cover;
    margin: 0 8px;
    box-shadow: rgba(14, 30, 37, 0.1) 0px 2px 4px 0px, rgba(14, 30, 37, 0.2) 0px 2px 16px 0px;

}

.song .body {
    flex: 1;
    padding: 0 16px;
}

.song .title {
    font-size: 18px;
    color: var(--text-color);
    font-weight: 700;
}

.song .author {
    font-size: 12px;
    color: #999;
}

.song .option {
    padding: 16px 8px;
    color: #999;
    font-size: 18px;
}

@keyframes soundBeats {
    0% {
        transform: rotate(0deg) scale(1);
    }

    25% {
        transform: rotate(0deg) scale(1.02);
    }

    45% {
        transform: rotate(0deg) scale(1);
    }

    50% {
        transform: rotate(0deg) scale(1.02);
    }

    70% {
        transform: rotate(0deg) scale(1);
    }

    75% {
        transform: rotate(0deg) scale(1.02);
    }

    95% {
        transform: rotate(0deg) scale(1);
    }

}

/* Spectrum */
.spectrum {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 80px;
}
.spectrum div, .spectrum div:before, .spectrum div:after {
    width: 9px;
    height: 3px;
    background: #57C7DB;
    position: relative;
    transform: translate(-11px, 5px);
    box-shadow: 0 -3px 0 #57C7DB, 0 -6px 0 #90D6E2, 0 -9px 0 #B8E3EA, 0 -12px 0 #CAECF1;
    animation-name: bar1;
    animation-duration: 0.3s;
    animation-direction: alternate;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-play-state: paused;
}

.spectrum div:before {
    content: '';
    position: absolute;
    transform: translate(11px, 0);
    box-shadow: 0 -3px 0 #57C7DB;
    animation-name: bar2;
}

.spectrum div:after {
    content: '';
    position: absolute;
    transform: translate(22px, 0);
    box-shadow: 0 -3px 0 #57C7DB, 0 -6px 0 #90D6E2, 0 -9px 0 #B8E3EA;
    animation-name: bar3;
}
.spectrum.active div, .spectrum.active div:before, .spectrum.active div:after {
    animation-play-state: running;
}
.spectrum.paused div, .spectrum.paused div:before, .spectrum.paused div:after {
    animation: none;
    box-shadow: 0 -3px 0 #57c7db;
}
@keyframes bar1 {
    0%, 19.9% {
        box-shadow: 0 -3px 0 #57C7DB, 0 -6px 0 #90D6E2, 0 -9px 0 #B8E3EA, 0 -12px 0 #CAECF1;
    }

    20%, 39.9% {
        box-shadow: 0 -3px 0 #57C7DB, 0 -6px 0 #90D6E2, 0 -9px 0 #B8E3EA;
    }

    40%, 59.9% {
        box-shadow: 0 -3px 0 #57C7DB, 0 -6px 0 #90D6E2;
    }

    60%, 79.9% {
        box-shadow: 0 -3px 0 #57C7DB;
    }

    80%, 100% {
        box-shadow: none;
    }
}

@keyframes bar2 {
    0%, 19.9% {
        box-shadow: none;
    }

    20%, 39.9% {
        box-shadow: 0 -3px 0 #57C7DB;
    }

    40%, 59.9% {
        box-shadow: 0 -3px 0 #57C7DB, 0 -6px 0 #90D6E2;
    }

    60%, 79.9% {
        box-shadow: 0 -3px 0 #57C7DB, 0 -6px 0 #90D6E2, 0 -9px 0 #B8E3EA, 0 -12px 0 #CAECF1;
    }

    80%, 100% {
        box-shadow: 0 -3px 0 #57C7DB, 0 -6px 0 #90D6E2, 0 -9px 0 #B8E3EA;
    }
}

@keyframes bar3 {
    0%, 19.9% {
        box-shadow: 0 -3px 0 #57C7DB, 0 -6px 0 #90D6E2;
    }

    20%, 39.9% {
        box-shadow: 0 -3px 0 #57C7DB;
    }

    40%, 59.9% {
        box-shadow: 0 -3px 0 #57C7DB, 0 -6px 0 #90D6E2;
    }

    60%, 79.9% {
        box-shadow: 0 -3px 0 #57C7DB, 0 -6px 0 #90D6E2, 0 -9px 0 #B8E3EA;
    }

    80%, 100% {
        box-shadow: 0 -3px 0 #57C7DB, 0 -6px 0 #90D6E2, 0 -9px 0 #B8E3EA, 0 -12px 0 #CAECF1;
    }
}